<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DesicionTree/src/varienceImpurity.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="varienceImpurity"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="600 40 Datasets\dataset1\training_set.csv Datasets\dataset1\validation_set.csv Datasets\dataset1\test_set.csv yes"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DesicionTree"/>
</launchConfiguration>
